body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #ffcc33;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0px;
  padding: 0px;
}

#canvas {
  margin: 0px;
  padding: 0px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Finger Paint", cursive;
  font-size: calc(25px + 4.3vw);
  color: #ff3333;
  text-align: center;
  z-index: -1;
}

#information {
  font-size: calc(15px + 0.5vw);
  -webkit-animation: 1s linear 3s forwards hideinfo;
  animation: 1s linear 3s forwards hideinfo;
}

@-webkit-keyframes hideinfo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
