/* css reset*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  line-height: 1
}
:focus {
  outline: 1
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block
}
nav ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700
}
del {
  text-decoration: line-through
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}
input, select {
  vertical-align: middle
}

/* main */

body {
  background: #f0f0f0;
}

/* 水平垂直居中-公共类 */

.c-wrap {
  display: table;
  *writing-mode: tb-rl;
}
.c-inner {
  display: table-cell;
  vertical-align: middle;
  *width: 100%;
  *margin: auto 0;
  *writing-mode: lr-tb;
}
.wrap {
  width: 1000px;
  padding-bottom: 30px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 1px;
  box-shadow: 0 0 3px #ccc;
  background: #fff;
}
.article {
  width: 900px;
  margin: 0 auto;
  font-family: 'Microsoft Yahei';
  color: #333;
}
.article h1 {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
}
.article h4 {
  margin: 10px 0;
}
.article p, .article pre {
  margin: 12px 0;
  text-indent: 2em;
  line-height: 24px;
  color: #444;
}
.article pre {
  background: #eaeaea;
  padding: 3px 0;
  font-size: 12px;
  color: #222;
  word-wrap: break-word;
  word-spacing: normal;
}
.fl {
  float: left;
  *display: inline;
}
.img-area {
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.img-area img {
  max-width: 100%;
}
.mt20 {
  margin-top: 20px;
}
.nav {
  height: 80px;
  text-align: center;
  background: #4fb9bc;
}
.nav a, .nav a span {
  float: left;
  height: 100%;
  margin-right: -80px;
  background: url(../images/nav-bg.jpg) no-repeat;
}
.nav a {
  position: relative;
  z-index: 1;
  width: 244px;
  font-size: 20px;
  line-height: 4;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  z-index: 2;
  color: #4fb9bc;
  background-color: #fff;
}
.nav a, a.last:hover {
  background-position: right -80px;
}
.nav .last {
  background-position: right -160px;
}
.nav a span {
  width: 80px;
  background-position: 0 -160px;
}
.nav a:hover span {
  background-position: 0 0;
}
.color1 {
  background: #bf1a21;
}
.color1 a, .color1 a span {
  background-image: url(../images/nav-bg1.jpg);
}
.color1 a:hover {
  color: #bf1a21;
}
